body {
    background-color: #04a6eb;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-family: "Otomanopee One";
}
button {
    padding: 5px 20px;
    background-color: #337ab7;
    border-style: none;
    color: #04a6eb;
    font-family: "Otomanopee One";
}
input {
    height: 20px;
}
